.pages {
    display: flex;
  }
  
  .pages-page {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 90%;
    font-family: Arial, sans-serif;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 5%;
  }
  
  .pages-page h2 {
    text-align: center;
    color: #0277bd;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    color: #0277bd;
    display: block;
    margin-bottom: 5px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #b3e5fc;
    border-radius: 4px;
    background-color: #f7f9fc;
    font-size: 14px;
    resize: vertical;
  }
  
  textarea:focus {
    outline: none;
    border-color: #0288d1;
    box-shadow: 0 0 4px #81d4fa;
  }
  
  button {
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #0288d1;
    color: white;
    width: 100%;
  }
  
  button:hover {
    background-color: #0277bd;
  }
  