<div class="sidenav-container">
    <button class="menu-toggle" (click)="toggleMenu()">
      ☰
    </button>
<div class="sidenav" [class.open]="isMenuOpen">
    <ul>
        <li><a routerLink="/admin/dashboard">DASHBOARD</a></li>

        <li><a routerLink="/admin/categories">CATEGORIES</a></li>

        <li><a routerLink="/admin/person">PERSON</a></li>
        <li><a routerLink="/admin/pages">PAGES</a></li>

          
        <li><a routerLink="/admin/userList">Users</a></li>
    </ul>
</div>
</div>


<router-outlet/>
